<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <material name="gray">
		<color rgba="0.02 0.02 0.02 1"/>
    </material>

    <material name="red">
        <color rgba="1 0 0 1"/>
    </material>

    <material name="green">
        <color rgba="0 1 0 1"/>
    </material>

    <material name="yellow">
        <color rgba="1 1 0 1"/>
    </material>

    <material name="blue">
        <color rgba="0 0 1 1"/>
    </material>

    <material name="turquoise">
        <color rgba="0 1 1 1"/>
    </material>

    <material name="magnetic_wheel">
        <color rgba="0.16 0.19 0.21 1"/>
    </material>

    <material name="magnetic_strip">
        <color rgba="0.62 0.66 0.68 1"/>
    </material>

</robot>
